<form id="formUser" mix-post="/api-create-user" autocomplete="off">
  <!-- Container for first name -->
  <div class="div_formfield">
    <label>
      First name
      <span
        >{{ x.USER_FIRST_NAME_MIN }} to {{ x.USER_FIRST_NAME_MAX }}
        characters</span
      >
    </label>
    <input
      id="firstname"
      name="user_first_name"
      type="text"
      placeholder="user first name"
      mix-validate="{{x.REGEX_USER_FIRST_NAME}}"
    />
  </div>

  <!-- Container for last name -->
  <div class="div_formfield">
    <label>
      Last name
      <span
        >{{ x.USER_LAST_NAME_MIN }} to {{ x.USER_LAST_NAME_MAX }}
        characters</span
      >
    </label>
    <input
      id="lastname"
      name="user_last_name"
      type="text"
      placeholder="user last name"
      mix-validate="{{x.REGEX_USER_LAST_NAME}}"
    />
  </div>

  <!-- Container for email -->
  <div class="div_formfield">
    <label>Email</label>
    <input
      id="email"
      name="user_email"
      type="email"
      placeholder="user email"
      mix-validate="{{x.REGEX_USER_EMAIL}}"
    />
  </div>

  <!-- Container for password -->
  <div class="div_formfield">
    <label>
      Password
      <span
        >{{ x.USER_PASSWORD_MIN }} to {{ x.USER_PASSWORD_MAX }} characters</span
      >
    </label>
    <input
      id="password"
      name="user_password"
      type="password"
      placeholder="user password"
      mix-validate="{{x.REGEX_USER_PASSWORD}}"
    />
  </div>

  <ul id="errors"></ul>

  <button>Signup</button>
</form>
